@import helper._

@(form: Form[Admin])(implicit flash: Flash, header: RequestHeader)
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Update</title>
</head>
<body>
  <h2>Update</h2>

  @helper.form(action = routes.Admins.updateAdmin) {

    @form.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }

    @flash.get("success").map { message =>
      <p class="success">
        @message
      </p>
    }

    <fieldset>
      <legend>
        Administrative Informations
      </legend>
      <p>@CSRF.formField</p>
      <p><input type="hidden" name="id" id="id" value="@form("id").value"></p>
      <p><input type="user" name="user" placeholder="user name" id="user" value="@form("user").value"></p>
      <p><input type="password" name="password" id="password" placeholder="Password"></p>
    </fieldset>
    <p>
      <input type="submit" class="btn primary" value='Update'>
      <button class="btn"><a class="btn primary" href="/">Cancel</a></button>
    </p>
  }
</body>
